/*Universal Styles*/

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    background-image: url("../images/hex-background-image.png");
    font-family: 'Poppins', sans-serif;
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    position: sticky;
    bottom: 0;
    font-size: 10px;
    text-align: center;
    width: 100%;
    background-color: #666666;
    color: lightgray;
    border-top: 10px solid #4aaaa5;
    padding: 20px 20px 2px 20px;
    box-shadow: -400px 10px 0px 0px #666666, 400px 10px 0px 0px #666666, -400px -5px 0px 0px #4aaaa5, 400px -5px 0px 0px #4aaaa5;
}

/*Top Banner*/

.header {
    position: fixed !important;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
    margin: 0 10 auto;
    background-color: white;
    border: 1px solid #cccccc;
    z-index: 2;
}

.header-inner {
    width: 960px;
    margin: 0px auto;
}

#name {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 25px 20px;
    margin: 0 auto;
}

/*Navigation*/

nav {
    color: #777777;
    float: left;
    margin: 0px 2px;
    position: relative;
    left: 500px;
    padding: 25px 20px;
}

nav a {
    display: inline-block;
    padding-left: 5px;
    border-left: 1px solid grey;
    text-decoration: none;
    margin: 0px 2px;
}

#about:hover,
#portfolio:hover,
#contact:hover {
    color: #664AC1;
}

a:visited {
    color: currentColor;
}

#about {
    border-left: none;
}

/*Main Section*/

.container {
    flex: 1 0 auto;
    max-width: 960px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 100px auto 30px;
    padding: 30px;
    flex-wrap: wrap;
}

.container-header {
    color: #4aaaa5;
    padding: 25px 20px;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 10px;
}

/*About Page*/

#profile-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*Contact Page - Forms*/

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    padding: 80px 20px;
    border: 1px solid lightgrey;
    height: 30px;
}

input[type=submit] {
    color: white;
    background-color: #4aaaa5;
    font-size: 12px;
    padding: 10px 20px;
}

form {
    color: #777777;
}

/*Portfolio Images*/

.portfolio-image {
    margin: 10px 10px 0px 10px;
    display: inline-block;
    width: 220px;
}

.portfolio-image:hover {
    outline: 5px solid #6D44EF;
    outline-offset: 2px;
}

.caption {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    top: -50px;
    position: relative;
    padding: 10px 2px;
}

/*Media Queries*/

/*Small Screen*/

@media screen and (max-width: 640px) {
    body {
        max-width: 540px;
    }
    #name,
    nav,
    .header,
    .header-inner {
        width: 100%;
        margin: 0px auto;
    }

  .header {
        margin-bottom: 50px;
    }
    nav {
        position: static;
        margin: 0px auto;
    }

    .container {
        clear: both; 
        margin: 180px auto 30px; 
        width: auto; 
    }
    #profile-image {
        float: none;
        display: block;
        margin: 3px auto;
    }
    .paragraph {
        float: left;
        text-align: justify;
        width: 100%;
    }
}